<mat-card *ngIf="recipe">
  <mat-card-header>
    <mat-card-title>{{recipe.name}}</mat-card-title>
    <mat-card-subtitle>{{recipe.cookTime}}</mat-card-subtitle>
    <mat-card-subtitle>{{recipe.description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Ingredients:
    <mat-list>
      <mat-list-item role="listitem" *ngFor="let ingredient of recipe.ingredients">
        {{ingredient}}
      </mat-list-item>
    </mat-list>
    Instructions:
    <mat-list>
      <mat-list-item role="listitem" *ngFor="let instructions of recipe.instructions">
        {{instructions}}
      </mat-list-item>
    </mat-list>
    History:
    <p>{{recipe.history}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="goBack()">Back</button>
  </mat-card-actions>
</mat-card>