<div class="wrapper">
  <h2>All Recipes</h2>
</div>


<div class="wrapper">
  <div>
    <ul>
      <!-- <ul class="recipes"> -->
      <li *ngFor="let recipe of recipes" [class.selected]="selected" (click)="onSelect(recipe)">
        <span class="badge">{{recipe.id}}</span> {{recipe.name}}
      </li>
    </ul>
  </div>
  <div>
    <app-recipe-summary [recipe]="selectedRecipe"></app-recipe-summary>
  </div>
</div>

<div>
  <button class="button" routerLink="/recipes/add">Add Recipe</button>
</div>