<div class="two-col">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Recipes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-action-list>
        <mat-list-item *ngFor="let recipe of recipes" [class.selected]="selected" (click)="onSelect(recipe)">
            {{recipe.name}}
        </mat-list-item>
      </mat-action-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/recipes/add">New Recipe?</button>
    </mat-card-actions>
  </mat-card>

  <app-recipe-summary [recipe]="selectedRecipe"></app-recipe-summary>

</div>